<div class="container">
  <div class="col-md-12">
    <h1>User List</h1>
    <table class="table table-bordered table-striped table-hover">
      <thead>
      <tr>
        <th class="text-center">ID</th>
        <th class="text-center">Name</th>
        <th class="text-center">&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.name }}</td>
       <td>
          <button class="btn btn-info" (click)="showEditForm(user)">
            Edit
              </button>
          <button class="btn btn-danger" (click)="removeUser(user.id)">
                Delete
            </button>
        </td>
      </tr>
      
      </tbody>
    </table>
   <button class="btn btn-success" (click)="showAddForm()">Add User</button>
    <br />
    <br />

    <form *ngIf="userForm">
    <h2>New User</h2>
    <p>ID: <input type="text" name="id" [(ngModel)]="user.id" /></p>
    <p>Name: <input type="text" name="name" [(ngModel)]="user.name" /></p>
    <p>
      <button type="button" class="btn btn-primary" (click)="addUser(user)">Submit</button>
    </p>
   </form>
    
    <form *ngIf="editUserForm">
    <h2>Edit User Details</h2>
    <p>ID: <input type="text" name="id" [(ngModel)]="user.id"/></p>
    <p>Name: <input type="text" name="name" [(ngModel)]="user.name"/></p>
    <p>
      <button type="button" class="btn btn-primary" (click)="updateUser(user)">Submit</button>
    </p>
   </form>
  </div>
</div>
